<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GREEN WHITE NEWS</title>
    <link rel="icon" th:href="@{/css/photos/gws_square.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <style>
        .form-control:focus {
            border-color: #28a745;
            box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25);
        }
        .contact .image img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }
        .contact .contacts li {
            list-style: none;
            margin-bottom: 10px;
        }
        .contact .contacts li a {
            text-decoration: none;
            color: #3498db;
            font-size: 1.1em;
        }
        .contact .contacts li a:hover {
            text-decoration: underline;
        }
        .faq {
            text-align: center;
            color: #7f8c8d;
        }
        .userEditForm .image img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
        .contact .contacts li {
            list-style: none;
            margin-bottom: 10px;
            font-family: serif;
            font-size: 0.8em;
        }
        .faq {
            text-align: left;
            color: #7c8688;
            font-size: 0.7em;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
    <div class="container-fluid">
        <div class="navbar-start">
            <a class="navbar-brand" th:href="@{/}">
                <div class="image">
                    <img th:src="@{/css/photos/greenNews.jpg}" alt="">
                </div>
                <h4>Green White News</h4>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="dropdown me-2">
                <button class="btn dropdown-toggle text-dark" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li th:each="category : ${categories}">
                        <a class="dropdown-item text-success" th:href="@{/(size = ${size}, page = ${page}, category=${category.title})}" th:text="${category.title}"> ></a>
                    </li>
                </ul>
            </div>
            <form th:action="@{/}" method="get" class="d-flex me-auto">
                <input class="form-control me-2" type="search" name="keyword" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>

            <div th:if="${loggedIn != null}" style="display: flex;">
                <button class="open" type="button" data-bs-toggle="offcanvas" data-bs-target="#profileOffcanvas" aria-controls="profileOffcanvas">
                    <img th:src="'data:image/png;base64,' + ${base64EncodedPhoto}" alt="Profile Image" >
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="profileOffcanvas" aria-labelledby="profileOffcanvasLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="profileOffcanvasLabel">Profile Menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <form th:action="@{/profile/{username}(username=${loggedIn.username})}" method="GET">
                            <i class="fa-regular fa-circle-user"></i>
                            <button class="w-100 mb-2" type="submit">Profile</button>
                        </form>

                        <form th:action="@{/editor/{username}/posts(username=${loggedIn.username})}"
                              sec:authorize="hasRole('ROLE_EDITOR')">
                            <i class="fa-regular fa-newspaper"></i>
                            <button class="w-100 mb-2">Your Posts</button>
                        </form>

                        <form th:action="@{/editor/{username}/posts/new(username=${loggedIn.username})}" method="GET" sec:authorize="hasRole('ROLE_EDITOR')">
                            <i class="fa-regular fa-square-plus"></i>
                            <button type="submit" class="w-100 mb-2">Create New Post</button>
                        </form>

                        <form th:action="@{/vacancy}"
                              sec:authorize="!hasRole('ROLE_EDITOR')">
                            <i class="fa-solid fa-suitcase"></i>
                            <button class="w-100 mb-2">GWN Jobs</button>
                        </form>


                        <form th:action="@{/changePassword}">
                            <i class="fa-solid fa-key"></i>
                            <button class="w-100 mb-2">Change Password</button>
                        </form>
                        <form th:action="@{/logout}" method="POST" class="w-100">
                            <i class="fa-solid fa-arrow-right-from-bracket text-danger"></i>
                            <button type="submit" class="text-danger w-100">Log Out</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>


<section id="EditForm">
    <form th:action="@{/profile/{userId}/update(userId=${user.id})}" method="POST" class="userEditForm" th:object="${user}" enctype="multipart/form-data" id="profileForm">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" id="returnUrl" name="returnUrl" value="">

        <div class="image">
            <img id="profileImage" th:src="'data:image/png;base64,' + ${base64EncodedPhoto}" alt="Profile Image">
        </div>
        <h5>Upload photo: </h5>
        <input class="form-control file" type="file" id="file" accept=".jpg,.jpeg,.png,image/jpeg,image/png" name="file">

        <div class="fields mt-3">
            <label class="form-label">First name: </label>
            <input type="text" class="form-control" th:field="*{first_name}" placeholder="First name">
        </div>

        <div class="fields mt-3">
            <label class="form-label">Last name: </label>
            <input type="text" class="form-control" th:field="*{last_name}" placeholder="Last name">
        </div>

        <div class="fields mt-3">
            <label class="form-label">Bio: </label>
            <textarea class="form-control" rows="4" th:field="*{bio}" placeholder="Bio"></textarea>
        </div>

        <input type="submit" class="btn btn-success mt-3" value="Save changes">
    </form>
</section>

<section id="Contact" class="mt-5">
    <div class="contact">
        <div class="image">
            <img th:src="@{/css/photos/gws_square.jpg}" alt="Contact Image">
        </div>
        <div class="contacts">
            <h3>Contacts</h3>
            <li>
                <a href="https://www.greenwhite.uz/"><i class="bi bi-globe2"></i> www.greenwhite.uz</a>
            </li>
            <li>
                <a href="mailto:info@greenwhite.uz"><i class="bi bi-envelope"></i> info@greenwhite.uz</a>
            </li>
            <li>
                <a href="tel:+998712030301"><i class="bi bi-telephone"></i> +998 71 203 03 01</a>
            </li>
            <li>
                <a href="tel:+998712008833"><i class="bi bi-telephone"></i> +998 71 200 88 33</a>
            </li>
        </div>
    </div>
    <div class="line"></div>
    <div class="faq" >
        <p><i class="bi bi-c-circle"></i>Green White Solutions LLC. All rights reserved 2024</p>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const returnUrlField = document.getElementById('returnUrl');
        returnUrlField.value = document.referrer;

        document.getElementById('profileForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const formData = new FormData(event.target);
            const returnUrl = returnUrlField.value;

            fetch(event.target.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest'
                }
            }).then(response => {
                if (response.ok) {
                    window.location.href = returnUrl || '/';
                } else {
                    alert('Failed to submit form.');
                }
            }).catch(error => {
                console.error('Error:', error);
                alert('Failed to submit form.');
            });
        });
    });

    document.getElementById('deletePhotoButton').addEventListener('click', function() {
        const defaultPhoto = '/css/photos/profile.webp'; // Replace with the path to your default photo
        document.getElementById('profileImage').src = defaultPhoto;
        document.getElementById('file').value = ''; // Clear the file input
    });
</script>

</body>
</html>
