<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="icon" th:href="@{/css/photos/Group_4.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <style>
        .offcanvas-end {
            width: 300px;
        }
    </style>
</head>
<body th:data-logged-in="${loggedIn != null}">

<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
    <div class="container-fluid">
        <div class="navbar-start">
            <a class="navbar-brand" href="#">
                <div class="image">
                    <img th:src="@{/css/photos/green.jpg}" alt="">
                </div>
                <h4>Green White News</h4>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="dropdown me-2">
                <button class="btn dropdown-toggle text-dark" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li th:each="category : ${categories}">
                        <a class="dropdown-item text-success" th:href="@{categories/{categoryTitle}(categoryTitle=${category.title})}" th:text="${category.title}"> ></a>
                    </li>
                </ul>
            </div>
            <form class="d-flex me-auto">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
            <div th:if="${loggedIn != null}" style="display: flex;">
                <button class="open" type="button" data-bs-toggle="offcanvas" data-bs-target="#profileOffcanvas" aria-controls="profileOffcanvas">
                    <img th:src="'data:image/png;base64,' + ${photo}" alt="Profile Image">
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="profileOffcanvas" aria-labelledby="profileOffcanvasLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="profileOffcanvasLabel">Profile Menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <form th:action="@{/profile/{username}(username=${loggedIn.username})}" method="GET">
                            <i class="fa-regular fa-circle-user"></i>
                            <button class="w-100 mb-2" type="submit">Profile</button>
                        </form>
                        <form th:action="@{/profile/{username}/edit(username=${loggedIn.username})}">
                            <i class="fa-regular fa-pen-to-square"></i>
                            <button class="w-100 mb-2" type="submit">Edit Profile</button>
                        </form>
                        <form th:action="@{/posts}">
                            <i class="fa-regular fa-newspaper"></i>
                            <button class="w-100 mb-2">Your Posts</button>
                        </form>
                        <form th:action="@{/logout}" method="POST" class="w-100">
                            <i class="fa-solid fa-arrow-right-from-bracket text-danger"></i>
                            <button type="submit" class="text-danger w-100">Log Out</button>
                        </form>
                    </div>
                </div>
            </div>
            <div th:if="${loggedIn == null}" style="display: flex;">
                <form th:action="@{/login}" class="login d-flex" style="height: 60%;">
                    <button class="btn btn-primary me-2" type="submit">Login</button>
                </form>
                <form th:action="@{/register}" method="GET" class="signup" style="height: 60%;">
                    <button class="btn btn-outline-success" type="submit" style="height: 100%;">Signup</button>
                </form>
            </div>
        </div>
    </div>
</nav>

<h2 th:if="${topPost == null}" style="margin-left: 3%; margin-bottom: 30px">Posts don't exist yet</h2>

<section id="Home" th:if="${topPost != null}">
    <div class="post">
        <img th:src="@{css/photos/01.jpg}" alt="">
        <div class="post_content">
            <div class="date">
                <i class="fa-solid fa-calendar-days"></i>
                <h5 th:text="${#temporals.format(topPost.createdAt, 'yyyy-MM-dd HH:mm')}"></h5>
            </div>
            <a th:href="@{/posts/{postId}(postId=${topPost.id})}" class="title" th:text="${topPost.title}"></a>
            <p th:text="${topPost.content}"></p>
            <a th:href="@{/posts/{postId}(postId=${topPost.id})}" class="link-primary" style="font-size:15px; font-weight: 500;">... READ MORE</a>

            <div class="like d-flex justify-content-start">
                <div th:if="${loggedIn!=null}">
                    <form th:action="@{posts/{postId}/likes/{username}(postId=${topPost.id}, username=${loggedIn.username})}" method="post" class="like-form me-2">
                        <button type="submit" class="btn btn-link p-0 like-btn">
                            <i class="fa-regular fa-thumbs-up text-dark like-icon"></i>
                        </button>
                        <input type="hidden" name="postId" th:value="${topPost.id}">
                    </form>
                </div>
                <div th:if="${loggedIn==null}">
                    <form action="#" method="post" class="like-form me-2">
                        <button type="submit" class="btn btn-link p-0 like-btn">
                            <i class="fa-regular fa-thumbs-up text-dark like-icon"></i>
                        </button>
                        <input type="hidden" name="postId" th:value="${topPost.id}">
                    </form>
                </div>

                <h5 th:text="${topPost.likesCount}" ></h5>
            </div>
        </div>
    </div>
</section>

<section id="News" th:if="${posts != null && !posts.isEmpty()}">
    <div class="post" th:each="post : ${posts}">
        <img th:src="@{css/photos/01.jpg}" alt="">
        <a th:href="@{/posts/{postId}(postId=${post.id})}" th:text="${post.title}"></a>
        <div class="date">
            <div class="calendar">
                <i class="fa-solid fa-calendar-days"></i>
                <h5 th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></h5>
            </div>
            <div class="like">
                <div th:if="${loggedIn!=null}">
                    <form th:action="@{posts/{postId}/likes/{username}(postId=${post.id}, username=${loggedIn.username})}" method="post" class="like-form">
                        <button type="submit" class="btn btn-link p-0 like-btn">
                            <i class="fa-regular fa-thumbs-up text-dark like-icon"></i>
                        </button>
                        <input type="hidden" name="postId" th:value="${post.id}">
                    </form>
                </div>
                <div th:if="${loggedIn==null}">
                    <form action="" method="post" class="like-form">
                        <button type="submit" class="btn btn-link p-0 like-btn">
                            <i class="fa-regular fa-thumbs-up text-dark like-icon"></i>
                        </button>
                        <input type="hidden" name="postId" th:value="${post.id}">
                    </form>
                </div>

                <h5 th:text="${post.likesCount}"></h5>
            </div>
        </div>
        <div class="line"></div>
    </div>
</section>

<section id="Contact">
    <div class="contact">
        <div class="image">
            <img th:src="@{css/photos/Group_4.png}" alt="">
        </div>
        <div class="contacts">
            <h3>Contacts</h3>
            <li>
                <a href="https://www.greenwhite.uz/">Official website</a>
            </li>
            <li>
                <a href="mailto:abdullakhmirfayziev81@gmail.com">Gmail</a>
            </li>
            <li>
                <a href="https://t.me/Mirfayziev_a">Telegram</a>
            </li>
            <li>
                <a href="tel:+998991100810">Phone</a>
            </li>
        </div>
    </div>
    <div class="line"></div>
    <div class="faq">
        <p>Green White Solution 2024</p>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var loggedIn = document.body.getAttribute("data-logged-in") === "true";

        var likeForms = document.querySelectorAll('.like-form');

        likeForms.forEach(function(form) {
            form.addEventListener('submit', function(event) {
                if (!loggedIn) {
                    event.preventDefault();

                    var popover = new bootstrap.Popover(form.querySelector('.like-icon'), {
                        trigger: 'manual', // Manual trigger so we can control when to show it
                        content: "Please log in or sign up to like.",
                        placement: 'top'
                    });

                    popover.show();
                    setTimeout(function() {
                        popover.hide();
                    }, 3000);
                }
            });
        });
    });
</script>

</body>
</html>
