<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="icon" th:href="@{/css/photos/gws_square.ico}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">

    <title>GREEN WHITE NEWS</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8fafc;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            font-size: 2.5rem;
            color: #10b981;
            margin-top: 20px;
        }

        .notifications-container {
            max-width: 800px;
            margin: 30px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
        }

        .page-item.active .page-link {
            background-color: rgb(0, 166, 81);
            border-color: rgb(0, 166, 81);
            color: white;
        }

        .page-item.active .page-link a{
            color: white;
        }

        .page-item .page-link {
            color: rgb(0, 166, 81);
        }

        .page-item {
            margin-right: 7px;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li.not {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px;
            margin-bottom: 10px;
            border-radius: 10px;
            background: #e5e7eb;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        li.not:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        }

        a.nott {
            text-decoration: none;
            color: #2563eb;
            font-size: 1.2rem;
            font-weight: bold;
            transition: color 0.3s ease;
        }

        a.nott:hover {
            color: #1e40af;
        }

        .notification-meta {
            font-size: 0.9rem;
            color: #6b7280;
        }

        .btn-success1 {
            background-color: #10b981;
            border: none;
            padding: 10px 20px;
            font-size: 0.9rem;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            color: white;
        }

        .btn-success1:hover {
            background-color: #059669;
        }

        .btn-secondary {
            background-color: #9ca3af;
            border: none;
            padding: 10px 20px;
            font-size: 0.9rem;
            border-radius: 5px;
            cursor: not-allowed;
        }

        .contact .contacts li {
            list-style: none;
            margin-bottom: 10px;
            font-family: serif;
            font-size: 0.8em;
        }
        .faq {
            text-align: left;
            color: #7c8688;
            font-size: 0.7em;
        }

        .nott.disabled {
            pointer-events: none;
            opacity: 0.6;
            text-decoration: none;
            color: inherit;
            cursor: default;
        }

    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
    <div class="container-fluid">
        <div class="navbar-start">
            <a class="navbar-brand" href="/">
                <div class="image">
                    <img th:src="@{/css/photos/greenNews.jpg}" alt="">
                </div>
                <h4>Green White News</h4>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="dropdown me-2">
                <button class="btn dropdown-toggle text-dark" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                </button>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <a class="dropdown-item text-success" th:href="@{/}">All posts</a>
                    </li>
                    <li th:each="category : ${categories}">
                        <a class="dropdown-item text-success" th:href="@{/(category=${category.title})}" th:text="${category.title}"> ></a>
                    </li>
                </ul>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                    <li th:each="category : ${categories}">
                        <a class="dropdown-item text-success" th:href="@{/(category=${category.title})}" th:text="${category.title}"></a>
                    </li>
                </ul>
            </div>
            <form th:action="@{/}" method="get" class="d-flex me-auto">
                <input class="form-control me-2" type="search" name="keyword" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
            <div th:if="${loggedIn != null}" style="display: flex;">

                <button class="open" type="button" data-bs-toggle="offcanvas" data-bs-target="#profileOffcanvas" aria-controls="profileOffcanvas" style="background: none; border: none; padding: 0;">
                    <img th:src="'data:image/png;base64,' + ${photo}" alt="Profile Image" style="border-radius: 50%; width: 60px; height: 60px;">
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="profileOffcanvas" aria-labelledby="profileOffcanvasLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="profileOffcanvasLabel">Profile Menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <form th:action="@{/admin}" sec:authorize="hasRole('ROLE_ADMIN')" method="GET">
                            <i class="fa-regular fa-circle-user"></i>
                            <button class="w-100 mb-2" type="submit">Admin panel</button>
                        </form>
                        <form th:action="@{/profile/{username}(username=${loggedIn.username})}" method="GET">
                            <i class="fa-regular fa-circle-user"></i>
                            <button class="w-100 mb-2" type="submit">Profile</button>
                        </form>
                        <form th:action="@{/profile/{username}/edit(username=${loggedIn.username})}">
                            <i class="fa-regular fa-pen-to-square"></i>
                            <button class="w-100 mb-2" type="submit">Edit Profile</button>
                        </form>

                        <form th:action="@{/editor/{username}/posts(username=${loggedIn.username})}"
                              sec:authorize="hasRole('ROLE_EDITOR')">
                            <i class="fa-regular fa-newspaper"></i>
                            <button class="w-100 mb-2">Your Posts</button>
                        </form>

                        <form th:action="@{/editor/{username}/posts/new(username=${loggedIn.username})}" method="GET" sec:authorize="hasRole('ROLE_EDITOR')">
                            <i class="fa-regular fa-square-plus"></i>
                            <button type="submit" class="w-100 mb-2">Create New Post</button>
                        </form>

                        <form th:action="@{/vacancy}"
                              sec:authorize="!hasRole('ROLE_EDITOR')">
                            <i class="fa-solid fa-suitcase"></i>
                            <button class="w-100 mb-2">GWN Jobs</button>
                        </form>

                        <form th:action="@{/changePassword}">
                            <i class="fa-solid fa-key"></i>
                            <button class="w-100 mb-2">Change Password</button>
                        </form>
                        <form th:action="@{/logout}" method="POST" class="w-100">
                            <i class="fa-solid fa-arrow-right-from-bracket text-danger"></i>
                            <button type="submit" class="text-danger w-100">Log Out</button>
                        </form>
                    </div>
                </div>
            </div>

            <div th:if="${loggedIn == null}" style="display: flex;">
                <form th:action="@{/login}" class="login d-flex" style="height: 60%;">
                    <button class="btn btn-outline-primary me-2" type="submit">Login</button>
                </form>
                <form th:action="@{/register}" method="GET" class="signup" style="height: 60%;">
                    <button class="btn btn-outline-success" type="submit" style="height: 100%;">Signup</button>
                </form>
            </div>
        </div>
    </div>
</nav>

<h1>Notifications</h1>
<div class="notifications-container">
    <ul>
        <li th:if="${notifications.size() != 0}" class="not" th:each="notification : ${notifications}">
            <div th:if="${notification.recipient} != ${author}">
                <a th:class="${notification.getType() == 'P' ? 'nott disabled' : 'nott'}" href="#" th:data-id="${notification.id}" th:data-redirect-url="${notification.redirectUrl}" th:data-type="${notification.getType()}" onclick="markAsReadAndRedirect(this)">
                    <span th:if="${notification.type ==  notification.getType().L}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                          <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"/>
                        </svg>
                    </span>
                    <span th:if="${notification.type ==  notification.getType().C}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                            <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15"/>
                        </svg>
                    </span>
                    <span th:if="${notification.type ==  notification.getType().P}">
                       <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                          <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2M2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                        </svg>
                    </span>
                    <span th:if="${notification.type ==  notification.getType().F}">
                         <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person-fill-check" viewBox="0 0 16 16">
                          <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                          <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                        </svg>

                    </span>
                    <span th:if="${notification.type ==  notification.getType().N}">
                         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-text-fill" viewBox="0 0 16 16">
                          <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z"/>
                        </svg>
                    </span>
                    <span th:text="${notification.message}"></span>
                </a>
                <div class="notification-meta">
                    <span th:text="${#temporals.format(notification.createdAt, 'MMMM dd, yyyy HH:mm')}"></span>
                </div>
            </div>

            <form th:if="${!notification.read}" th:action="@{/notifications/mark-as-read/{id}(id=${notification.id})}" method="post">
                <button class="btn btn-success1" type="submit">Mark as Read</button>
            </form>

            <div th:if="${notification.read}">
                <button class="btn btn-secondary" disabled>Already read</button>
            </div>
        </li>
        <l1 th:if="${notifications.size() == 0}" style="text-align: center; margin: 0 auto; display: block">Nothing new🤝😴</l1>
    </ul>
</div>

<section id="pagination"  class="d-flex justify-content-center mt-4">
    <div class="btn-group">
        <button th:text="${size} + ' / page'" type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="height: min-content; background-color: rgb(0, 166, 81); border: none;">
        </button>
        <ul class="dropdown-menu" >
            <li th:if="${notificationSize >= 5}"><a class="dropdown-item" th:href="@{'/notifications?page=' + ${notificationsPage.number + 1} + '&size=5'}">5 / page</a></li>
            <li th:if="${notificationSize >= 10}"><a class="dropdown-item" th:href="@{'/notifications?page=' + ${notificationsPage.number + 1} + '&size=10'}">10 / page</a></li>
            <li th:if="${notificationSize >= 15}"><a class="dropdown-item" th:href="@{'/notifications?page=' + ${notificationsPage.number + 1} + '&size=15'}">15 / page</a></li>
            <li th:if="${notificationSize >= 20}"><a class="dropdown-item" th:href="@{'/notifications?page=' + ${notificationsPage.number + 1} + '&size=20'}">20 / page</a></li>
            <li th:if="${notificationSize >= 50}"><a class="dropdown-item" th:href="@{'/notifications?page=' + ${notificationsPage.number + 1} + '&size=50'}">50 / page</a></li>
            <li th:if="${notificationSize >= 100}"><a class="dropdown-item" th:href="@{'/notifications?page=' + ${notificationsPage.number + 1} + '&size=100'}">100 / page</a></li>
        </ul>
    </div>

    <ul class="pagination" th:if="${notificationsPage.totalPages > 1}" style="margin-left: 10px;">
        <li th:classappend="${notificationsPage.hasPrevious() ? '' : 'disabled'}"
            style="color: rgb(0, 166, 81); margin-right: 7px;">
            <a th:if="${notificationsPage.number == 0}" class="page-link" th:href="@{/notifications(page=${notificationsPage.totalPages}, size=${size}, category=${category}, tag=${tag}, keyword=${keyword})}"
               aria-label="Previous" style="color: rgb(0, 166, 81); border-radius: 7px;">
                <span aria-hidden="true">&laquo;</span>
            </a>
            <a th:if="${notificationsPage.number > 0}" class="page-link" th:href="@{/notifications(page=${notificationsPage.number}, size=${size}, category=${category}, tag=${tag}, keyword=${keyword})}"
               aria-label="Previous" style="color: rgb(0, 166, 81); border-radius: 7px;">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        <li class="page-item" th:classappend="${notificationsPage.number == 0 ? 'active' : ''}" style="border-radius: 50px;">
            <a class="page-link" th:href="@{/notifications(page=1, size=${size})}" style="border-radius: 7px;">1</a>
        </li>

        <li class="page-item disabled" th:if="${notificationsPage.number > 2}">
            <span class="page-link" style="border-radius: 7px;">...</span>
        </li>

        <li th:each="i : ${#numbers.sequence(notificationsPage.number - 1, notificationsPage.number + 1)}"
            class="page-item"
            th:classappend="${i == notificationsPage.number ? 'active' : ''}"
            th:if="${i > 0 and i < notificationsPage.totalPages - 1}"
            style="border-radius: 50px;">
            <a class="page-link" th:href="@{/notifications(page=${i + 1}, size=${size})}" th:text="${i + 1}" style="border-radius: 7px;"></a>
        </li>

        <li class="page-item disabled" th:if="${notificationsPage.number < notificationsPage.totalPages - 3}">
            <span class="page-link" style="border-radius: 7px;">...</span>
        </li>

        <li class="page-item" th:classappend="${notificationsPage.number == notificationsPage.totalPages - 1 ? 'active' : ''}"
            th:if="${notificationsPage.totalPages > 1}" style="border-radius: 50px;">
            <a class="page-link" th:href="@{/notifications(page=${notificationsPage.totalPages}, size=${size})}" th:text="${notificationsPage.totalPages}"
               style="border-radius: 7px;"></a>
        </li>

        <li th:classappend="${notificationsPage.hasNext() ? '' : 'disabled'}">
            <a th:if="${notificationsPage.number == notificationsPage.totalPages - 1}" class="page-link" th:href="@{/notifications(page=1, size=${size})}"
               aria-label="Next" style="border-radius: 7px; color: rgb(0, 166, 81);">
                <span aria-hidden="true">&raquo;</span>
            </a>
            <a th:if="${notificationsPage.number < notificationsPage.totalPages - 1}" class="page-link"
               th:href="@{/notifications(page=${notificationsPage.number + 2}, size=${size})}" aria-label="Next"
               style="color: rgb(0, 166, 81); border-radius: 7px;">
                <span aria-hidden="true" style="color: rgb(0, 166, 81);">&raquo;</span>
            </a>
        </li>
    </ul>
</section>


<section id="Contact" class="mt-5">
    <div class="contact">
        <div class="image">
            <img th:src="@{/css/photos/gws_square.jpg}" alt="Contact Image">
        </div>
        <div class="contacts">
            <h3>Contacts</h3>
            <li>
                <a href="https://www.greenwhite.uz/"><i class="bi bi-globe2"></i> www.greenwhite.uz</a>
            </li>
            <li>
                <a href="mailto:info@greenwhite.uz"><i class="bi bi-envelope"></i> info@greenwhite.uz</a>
            </li>
            <li>
                <a href="tel:+998712030301"><i class="bi bi-telephone"></i> +998 71 203 03 01</a>
            </li>
            <li>
                <a href="tel:+998712008833"><i class="bi bi-telephone"></i> +998 71 200 88 33</a>
            </li>
        </div>
    </div>
    <div class="line"></div>
    <div class="faq" >
        <p><i class="bi bi-c-circle"></i> Green White Solutions LLC. All rights reserved 2024</p>
    </div>
</section>

<script>
    function markAsReadAndRedirect(element) {
        const notificationId = element.dataset.id;
        const redirectUrl = element.dataset.redirectUrl;
        const type = element.dataset.type;



        fetch(`/notification/markAsRead/${notificationId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (response.ok) {
                    window.location.href = type === "P" ? "#" : redirectUrl;
                } else {
                    console.error('Error marking notification as read');
                }
            })
            .catch(error => {
                console.error('Error marking notification as read:', error);
            });
    }
</script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
</body>
</html>
