<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GREEN WHITE NEWS</title>
    <link rel="icon" th:href="@{/css/photos/gws_square.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">

    <style>
        .contact .contacts li {
            list-style: none;
            margin-bottom: 10px;
            font-family: serif;
            font-size: 0.8em;
        }
        .faq {
            text-align: left;
            color: #7c8688;
            font-size: 0.7em;
        }
        .author-info {
            display: flex;
            align-items: center;
            font-family: Arial, sans-serif;
        }

        .author-info i {
            color: #494e49;
            margin-right: 8px;
            font-size: 1.2em;
        }

        .author-name {
            color: #494e49;
            text-decoration: none;
            font-size: 1.7em;
            font-weight: bold;
            transition: color 0.3s;
        }

        .author-name:hover {
            color: #494e49;
        }

        .like-btn {
            outline: none; /* Removes the focus outline */
            box-shadow: none; /* Ensures no shadow appears */
        }

        .like-btn:focus {
            outline: none;
            box-shadow: none;
        }

        .post {
            border: 4px solid transparent;
            transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        }

        .post:hover {
            box-shadow: 0 0 15px 5px rgba(92, 92, 92, 0.7);
        }
    </style>
</head>
<body th:data-logged-in="${loggedIn != null}">
<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
    <div class="container-fluid">
        <div class="navbar-start">
            <a class="navbar-brand" href="/">
                <div class="image">
                    <img th:src="@{/css/photos/greenNews.jpg}" alt="">
                </div>
                <h4>Green White News</h4>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="dropdown me-2">
                <button class="btn dropdown-toggle text-dark" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li th:each="category : ${categories}">
                        <a class="dropdown-item text-success" th:href="@{/(size = ${size}, page = ${page}, category=${category.title})}" th:text="${category.title}"> ></a>
                    </li>
                </ul>
            </div>
            <form th:action="@{/}" method="get" class="d-flex me-auto">
                <input class="form-control me-2" type="search" name="keyword" placeholder="Search" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
            <div th:if="${loggedIn != null}" style="display: flex;">
                <button class="open" type="button" data-bs-toggle="offcanvas" data-bs-target="#profileOffcanvas" aria-controls="profileOffcanvas">
                    <img th:src="'data:image/png;base64,' + ${userPhoto}" alt="Profile Image">
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="profileOffcanvas" aria-labelledby="profileOffcanvasLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="profileOffcanvasLabel">Profile Menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <form th:action="@{/profile/{username}(username=${loggedIn.username})}" method="GET">
                            <i class="fa-regular fa-circle-user"></i>
                            <button class="w-100 mb-2" type="submit">Profile</button>
                        </form>
                        <form th:action="@{/profile/{username}/edit(username=${loggedIn.username})}">
                            <i class="fa-regular fa-pen-to-square"></i>
                            <button class="w-100 mb-2" type="submit">Edit Profile</button>
                        </form>

                        <form th:action="@{/editor/{username}/posts(username=${loggedIn.username})}"
                              sec:authorize="hasRole('ROLE_EDITOR')">
                            <i class="fa-regular fa-newspaper"></i>
                            <button class="w-100 mb-2">Your Posts</button>
                        </form>

                        <form th:action="@{/editor/{username}/posts/new(username=${loggedIn.username})}" method="GET" sec:authorize="hasRole('ROLE_EDITOR')">
                            <i class="fa-regular fa-square-plus"></i>
                            <button type="submit" class="w-100 mb-2">Create New Post</button>
                        </form>


                        <form th:action="@{/changePassword}">
                            <i class="fa-solid fa-key"></i>
                            <button class="w-100 mb-2">Change Password</button>
                        </form>
                        <form th:action="@{/logout}" method="POST" class="w-100">
                            <i class="fa-solid fa-arrow-right-from-bracket text-danger"></i>
                            <button type="submit" class="text-danger w-100">Log Out</button>
                        </form>
                    </div>
                </div>
            </div>

            <div th:if="${loggedIn == null}" style="display: flex;">
                <form th:action="@{/login}" class="login d-flex" style="height: 60%;">
                    <button class="btn btn-primary me-2" type="submit">Login</button>
                </form>
                <form th:action="@{/register}" method="GET" class="signup" style="height: 60%;">
                    <button class="btn btn-outline-success" type="submit" style="height: 100%;">Signup</button>
                </form>
            </div>
        </div>
    </div>
</nav>

<!--<div th:if="${posts.isEmpty()}">-->
<!--    <p>No results found</p>-->
<!--</div>-->

<div class="author" style="margin-left: 4%; display: flex; align-items: center; justify-content: start">
    <img  th:src="'data:image/png;base64,' + ${photo}" style="width: 45px; height: 45px; border-radius: 90%; margin-right: 15px;">
    <a th:if="${user.username.startsWith('deleted_user')}"  th:text="${firstName + ' ' + lastName}" class="author-name me-3" ></a>
    <a th:if="${!user.username.startsWith('deleted_user')}"  th:href="@{/profile/{username}(username=${username})}" th:text="${firstName + ' ' + lastName}" class="author-name me-3" ></a>


<!--    <h3 th:text="${firstName} + ' ' + ${lastName}" style="color: #2e2a2a; margin-right: 15px;"></h3>-->

    <form th:if="${loggedIn} and ${!isFollowed} and ${loggedIn.username} != ${user.username} and ${!user.username.startsWith('deleted_user')}" th:action="@{/follow2/{username}(username=${user.username})}" method="post" style="display: inline;">
        <input type="hidden" name="followerId" th:value="${loggedInUser.id}" />
        <input type="hidden" name="followedId" th:value="${user.id}" />
        <button type="submit" class="follow-button btn btn-outline-secondary" >
                Follow
        </button>
    </form>

    <form th:if="${loggedIn} and ${isFollowed} and ${loggedIn.username} != ${user.username}" th:action="@{/unfollow2/{username}(username=${user.username})}" method="post"  style="display: inline;">
        <input type="hidden" name="followerId" th:value="${loggedInUser.id}" />
        <input type="hidden" name="followedId" th:value="${user.id}" />
        <button type="submit" class="btn btn-outline-secondary" >
            Unfollow
        </button>
    </form>
</div>

<section id="News" th:if="${posts != null && !posts.isEmpty()}">
    <div class="post" th:each="post : ${posts}" th:if="${post != topPost}">
        <img th:if="${post.hashedPhoto != null}" th:src="'data:image/png;base64,' + ${post.hashedPhoto}" alt="Post Image">
        <a class="title" th:if="${post.title.length() > 30}" th:href="@{/posts/{postId}(postId=${post.id})}" th:text="${#strings.substring(post.title, 0, 30)} + '...'"></a>
        <a class="title" th:if="${post.title.length() <= 30}" th:href="@{/posts/{postId}(postId=${post.id})}" th:text="${post.title}"></a>
        <div class="date">
            <div class="calendar">
                <i class="fa-solid fa-calendar-days"></i>
                <h5 th:if="${post.createdAt.toLocalDate().isBefore(T(java.time.LocalDate).now())}"
                    th:text="${#temporals.format(post.createdAt, 'dd')} + ' ' + ${months[post.createdAt.monthValue - 1]} + ' ' + ${#temporals.format(post.createdAt, 'yyyy HH:mm')}">
                </h5>

                <h5 th:if="${post.createdAt.toLocalDate().isEqual(T(java.time.LocalDate).now())}"  th:attr="data-timestamp=${post.createdAt}" class="timeago"></h5>

            </div>
            <div class="like">
                <div th:if="${loggedIn!=null}">
                    <form th:action="@{/{authorUsername}/posts/{postId}/likes/{username}(authorUsername=${username},postId=${post.id}, username=${loggedIn.username})}" method="post" class="like-form">
                        <button th:if="${!post.isLiked}" type="submit" class="btn btn-link p-0 like-btn">
                            <i class="bi bi-heart" style="color: black"></i>
                        </button>
                        <button th:if="${post.isLiked}" type="submit" class="btn btn-link p-0 like-btn">
                            <i class="bi bi-heart-fill" style="color: red"></i>
                        </button>
                        <input type="hidden" name="postId" th:value="${post.id}">
                    </form>
                </div>
                <div th:if="${loggedIn==null}">
                    <form action="#" method="post" class="like-form me-2">
                        <button type="submit" class="btn btn-link p-0 like-btn">
                            <i class="bi bi-heart like-icon" style="color: black"></i>
                        </button>
                        <input type="hidden" name="postId" th:value="${post.id}">
                    </form>
                </div>

                <h5 th:text="${post.likesCount}"></h5>
            </div>
        </div>
        <div class="line"></div>
    </div>
</section>

<section id="Contact" class="mt-5">
    <div class="contact">
        <div class="image">
            <img th:src="@{/css/photos/gws_square.jpg}" alt="Contact Image">
        </div>
        <div class="contacts">
            <h3>Contacts</h3>
            <li>
                <a href="https://www.greenwhite.uz/"><i class="bi bi-globe2"></i> www.greenwhite.uz</a>
            </li>
            <li>
                <a href="mailto:info@greenwhite.uz"><i class="bi bi-envelope"></i> info@greenwhite.uz</a>
            </li>
            <li>
                <a href="tel:+998712030301"><i class="bi bi-telephone"></i> +998 71 203 03 01</a>
            </li>
            <li>
                <a href="tel:+998712008833"><i class="bi bi-telephone"></i> +998 71 200 88 33</a>
            </li>
        </div>
    </div>
    <div class="line"></div>
    <div class="faq" >
        <p><i class="bi bi-c-circle"></i>Green White Solutions LLC. All rights reserved 2024</p>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.timeago').forEach(function (element) {
            var timestamp = element.getAttribute('data-timestamp');
            element.textContent = moment(timestamp).fromNow();
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var loggedIn = document.body.getAttribute("data-logged-in") === "true";

        var likeForms = document.querySelectorAll('.like-form');

        likeForms.forEach(function(form) {
            form.addEventListener('submit', function(event) {
                if (!loggedIn) {
                    event.preventDefault();

                    var popover = new bootstrap.Popover(form.querySelector('.like-icon'), {
                        trigger: 'manual',
                        content: "Please log in or sign up to like.",
                        placement: 'top'
                    });

                    popover.show();
                    setTimeout(function() {
                        popover.hide();
                    }, 3000);
                }
            });
        });
    });
</script>

</body>
</html>
